@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

@supports (-moz-appearance: none) {
  body::before {
    z-index: -1;
  }
  .main-panel {
    background: inherit;
    border: solid 10px var(--gray800);
    border-radius: 40px;
  }

  .border-decoration {
    border: none;
    border-image: none;
    border-radius: 4px;
  }
}
