// .border-decoration {
//   border-radius: 0 4px 4px 0;
//   border-left-width: 5px;
//   border-left-style: solid;
//   border-image: linear-gradient(var(--violet400), var(--violet700)) 1 100%;
// }

.disabled__button {
  background-image: linear-gradient(
    75deg,
    var(--gray700),
    var(--gray500)
  ) !important;
  color: var(--gray200) !important;
  cursor: not-allowed !important;

  &:hover,
  &:focus {
    background-position: 0% !important;
    transform: none !important;
  }
}
