body {
  background: var(--gray800);
}
main {
  width: 100%;
  min-height: 50rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: wrap;
}
.main-panel {
  background: var(--gray800);
  color: var(--gray200);
  height: 100%;
  min-height: 50rem;
  width: 60%;
  padding: 1rem;
  font-size: 1.2rem;
}

/////////////////////////////
///     WOTD             ////
/////////////////////////////
.wotd {
  h1 {
    text-align: center;
  }
}

.wotd__display {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--violet50);
  color: var(--gray800);
  font-size: 3rem;
  text-transform: capitalize;
  padding: 1.5rem;
  margin: 4rem auto 2rem auto;
  border-radius: 4px;
  span:nth-of-type(2) {
    color: var(--gray600);
    font-size: 2rem;
    font-weight: 500;
  }
}

.wotd__info {
  p {
    display: flex;
    span:nth-of-type(1) {
      width: 10%;
      color: var(--gray400);
      font-weight: 500;
      font-style: italic;
      font-size: 0.9rem;
    }
  }
}

.wotd__control {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.wotd__control-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  div {
    background: var(--violet50);
    color: var(--gray800);
    padding: 1.5rem 5rem;
    border-radius: 4px;
  }
  h2 {
    width: 100%;
    text-transform: capitalize;
    text-align: center;
  }
}
