@supports (-moz-appearance: none) {
  body::before {
    z-index: -1;
  }
  body {
    background-image: linear-gradient(
      135deg,
      var(--violet100) 10%,
      var(--violet300) 100%
    );
  }

  .main-panel {
    background: var(--violet700);
  }
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 800px) {
  body::before {
    display: none;
  }
  .main-panel {
    width: 100%;
    border-radius: 0;
    padding: 2rem 2rem;
    backdrop-filter: none;
  }
  .wotd__display {
    flex-wrap: wrap;
    span {
      width: 100%;
      height: 3rem;
    }
  }
  .wotd__info {
    p {
      flex-wrap: wrap;
      span:nth-of-type(1) {
        width: 100%;
      }
    }
  }

  .wotd__control {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 450px) {
  .main-panel {
    padding: 2rem 1rem;
  }
}
